body{
  background: rgb(239,212,184);
  background: linear-gradient(0deg, rgba(239,212,184,1) 11%, rgba(200,187,223,1) 100%);
  background-repeat: no-repeat;
  height:100%;
  width:100vw;
}

::-webkit-scrollbar{
  display: none;

}

.container{
background: rgb(227,225,196);
background: linear-gradient(0deg, rgba(227,225,196,1) 0%, rgba(216,214,245,1) 100%);
width:87vw;
padding: 2rem;
margin:auto;
margin-top: 3.4rem;
border-radius: 10px;

}

.btn{
  padding:1rem;
  background-color:black;
  color: white;
  border-radius: 20px;
}